TIDB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=your_tidb_user
TIDB_PASSWORD=your_tidb_password
TIDB_DATABASE=cloud_vaathi
TIDB_CA_PATH=isrgrootx1.pem

JWT_SECRET=replace_with_long_secret

ADMIN_SEED_EMAIL=admin@cloudvaathi.com
ADMIN_SEED_PASSWORD=replace_with_admin_password
ADMIN_SEED_NAME=Cloud Vaathi Admin

RAZORPAY_KEY_ID=rzp_live_xxx
RAZORPAY_KEY_SECRET=replace_with_secret

GMAIL_USER=you@gmail.com
GMAIL_APP_PASSWORD=gmail_app_password

APP_BASE_URL=http://localhost:8080
